<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Geo Location Saver</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class='container'>
            <input class='inp' placeholder="Enter your name..."/>
        </header>

        <section id='button-container' class='container'>
            <div class=' btn-container'>
                <button class='btn'>Get Location</button>
                <button class='save'>Save</button>
            </div>
        </section>

        <div class='output-container container'>
             <span class='output'></span>
        </div>

        <section id='content-wrapper'>
            <div class='user-content container'>
                <ul>
                  <%  userlocs.forEach(user=>{ %>
                    <li>
                            <ul class='sub-list'>
                                <li>Name: <%= user.name %></li>
                                <li>Latitude: <%= user.lat %></li>
                                <li>Longitude: <%= user.long %></li>
                                <li class='tempBTN' data-doc='<%= user.lat%>,<%=user.long %>'>Get AQI</li>
                            </ul>
                            <button class='card-del' data-doc='/delete/<%= user._id %>'>
                                <i class="fa fa-trash-o" aria-hidden="true" data-doc='/delete/<%= user._id %>'></i>
                            </button>
                        </li>
                    <% }) %>
                </ul>
            </div>


            <div class="temp-detail">
                <i class="fa fa-times" aria-hidden="true"></i>
                <div class='temp-result'>
                    <div class='loc'>Loading...</div>
                    <div class='aqiData'></div>
                </div>
            </div>
        </section>
        <script >
            function _id(id){
                return document.querySelector(id);
            }

  /********Get Geo Location*********/
        
            let lat,long;
            _id('.btn').addEventListener('click', (e) =>{
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(pos=>{
                        lat = pos.coords.latitude.toFixed(2);
                        long= pos.coords.longitude.toFixed(2);
                        _id('.output').innerHTML= (`Your Location is: Lat ${lat} and Long ${long}`);
                    })                    
                }
            })
            

            /*******Fetch Post Location to server*******/
            _id('.save').addEventListener('click',e=>{
                if(lat!= undefined){
                    const name = _id('.inp').value;
                    const url = '/location/?name='+name+'&lat='+lat+'&long='+long;
                    fetch(url,{
                        method:'POST'
                    })
                    .then(res=>res.json())
                    .then(data=>window.location.href=data.redirect)
                    .catch(err=>console.log(err))
                }
                _id('.inp').value="";
            })

            /*******Fetch Delete Request*******/
            const del = document.querySelectorAll('.card-del');
            del.forEach(e=>{
                e.addEventListener('click',delItem);
            })
            function delItem(e){
                const url= e.target.dataset.doc;
                fetch(url,{
                    method:'DELETE'
                })
                .then(res=>res.json())
                .then(data=>window.location.href=data.redirect)
            }

/*******Show Weather Details*******/
            const tempBTN = document.querySelectorAll('.tempBTN');
            tempBTN.forEach((e)=>{
                e.addEventListener('click',getTemp);
            })
           // _id('.tempBTN').addEventListener('click',getTemp);
            function getTemp(e){
                _id('.temp-detail').classList.add('show');
                const arr = e.target.dataset.doc.split(',');
                console.log(arr);
                const uri ="https://api.openaq.org/v1/measurements?coordinates="+arr[0]+","+arr[1]+"&radius=4000&parameter=pm10&limit=1";
                fetch(uri,{
                    method:'GET'
                }).then(res=>res.json())
                .then(data=>{
                    const city = data.results[0].location;
                    const aqi = data.results[0].value
                    const dateArr = data.results[0].date.local.split('T')
                    const date= dateArr[0];
                    const time = dateArr[1].split('+')[0];
                    _id('.temp-result .loc').innerHTML='Location: '+city+'<br/><br/>';
                    _id('.temp-result .aqiData').innerHTML= aqi+" <span class='aqiText'>AQI</span><br/><sub>updated at: "+time+" on "+date+"</sub>";
                })
                .catch(err=>{
                    _id('.temp-result .loc').innerHTML= "Oops! Coudn't find any official data in 4KM radius.";
                    _id('.temp-result .aqiData').innerHTML="";
                    _id('.temp-detail').classList.add('show');
                })
            }
            _id('.fa-times').addEventListener('click',(e)=>{
                _id('.temp-result .loc').innerHTML= "";
                _id('.temp-result .aqiData').innerHTML="";
                _id('.temp-detail').classList.remove('show');
            })
        </script>
    </body>
</html>